body{
    background-color: black;
    background-image: url(/D_szgjatekok/kepek/black.png);
    width: 90%;
    max-width: 900px;
    background-size: cover;
    margin: auto;
}

.fejléc{
    align-items: center;
    width: 300px;
}
.nav{
    font-family: Arial, Helvetica, sans-serif;
    color: beige;
    display: grid;
    grid-template-columns: .25fr .50fr 1fr;
    background-color: grey;  
    height: 50px;
    box-sizing: border-box;
    border-style: solid;
    border-width: 0px 0px 5px 1px;
    border-color: silver;
    width: 840px;
}
.főoldal{
    background-color: orangered;
    text-align: center;
    padding-top: 12px;
    border-style: solid;
    border-width: 0px 1px 0px 0px;
}
.regisztráció{
    text-align: center;
    padding-top: 12px;
}
.article{
    background-color:bisque;
    text-align: justify;
    font-size: 10px;
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    width: 840px;
}
.h1{
    font-size: 15px;
    margin: auto;
}
.witcher>img{
    width: 300px;
    height: 300px;
    object-fit: contain;
    align-items: center;

}